@media only screen and (max-width: 768px) {
    .left-sidebar {
        display: none;
    }    
    .right-sidebar {
        display: none;
    }
    .main-content {
        flex: 100%;
    }
    .navbar {
        padding: 6px;
        height: 80px;
    }
    .navbar-center > ul {
        display: flex;
    }
    .navbar-center > ul > li > a > span {
        display: none;
    }
    .search-box {
        border-radius: 20px;
        width: 160px;
        padding: 5px;
        flex-shrink: 10;
    }
    .search-box img {
        width: 1px;
    }
    .logo img {
        width: 25px;
    }
    .nav-profile-img {
        width: 35px;
    }
}
